In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_excel('Fig3-1.xls', header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"U.S. Home Price and Related data, for Figure 3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,See the book for description of data.,NaN,NaN,NaN,"Update Nominal Home Price Index, Click Additio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Monthly data from January 1953 for prices, all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nominal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Real,NaN,Real,NaN,NaN,NaN,NaN,Home,NaN,NaN,Nominal,NaN,NaN,Consumer,NaN,NaN,NaN,NaN
4,NaN,Home,NaN,Building,U.S.,NaN,NaN,NaN,Price,HPI,NaN,Building,NaN,NaN,Price,CPI Annual&,NaN,NaN,NaN

In [4]:
data.info

<bound method DataFrame.info of                                                     0        1    2   \
0    U.S. Home Price and Related data, for Figure 3...      NaN  NaN
1                See the book for description of data.      NaN  NaN
2    Monthly data from January 1953 for prices, all...      NaN  NaN
3                                                  NaN     Real  NaN
4                                                  NaN     Home  NaN
..                                                 ...      ...  ...
859                                            2018.79  174.056  NaN
860                                            2018.87  174.439  NaN
861                                            2018.96  174.659  NaN
862                                            2019.04  174.016  NaN
863                                                NaN      NaN  NaN

           3                                                  4    5    6   \
0         NaN                                                NaN  NaN  NaN
1         NaN  Update Nominal Home Price Index, Click Additio...  NaN  NaN
2         NaN                                                NaN  NaN  NaN
3        Real                                                NaN  NaN  NaN
4    Building                                               U.S.  NaN  NaN
..        ...                                                ...  ...  ...
859       NaN                                                NaN  NaN  NaN
860       NaN                                                NaN  NaN  NaN
861       NaN                                                NaN  NaN  NaN
862       NaN                                                NaN  NaN  NaN
863       NaN                                                NaN  NaN  NaN

          7        8                           9    10        11   12  \
0        NaN      NaN                         NaN  NaN       NaN  NaN
1        NaN      NaN                         NaN  NaN       NaN  NaN
2        NaN  Nominal                         NaN  NaN       NaN  NaN
3        NaN     Home                         NaN  NaN   Nominal  NaN
4        NaN    Price                         HPI  NaN  Building  NaN
..       ...      ...                         ...  ...       ...  ...
859  2018.79  205.709  S&P/CoreLogic/Case-Shiller  NaN       NaN  NaN
860  2018.87  205.471  S&P/CoreLogic/Case-Shiller  NaN       NaN  NaN
861  2018.96  205.073  S&P/CoreLogic/Case-Shiller  NaN       NaN  NaN
862  2019.04  204.708  S&P/CoreLogic/Case-Shiller  NaN       NaN  NaN
863      NaN      NaN                         NaN  NaN       NaN  NaN

          13        14           15  16   17   18
0        NaN       NaN          NaN NaN  NaN  NaN
1        NaN       NaN          NaN NaN  NaN  NaN
2        NaN       NaN          NaN NaN  NaN  NaN
3        NaN  Consumer          NaN NaN  NaN  NaN
4        NaN     Price  CPI Annual& NaN  NaN  NaN
..       ...       ...          ...  ..  ...  ...
859  2018.79   252.885          BLS NaN  NaN  NaN
860  2018.87   252.038          BLS NaN  NaN  NaN
861  2018.96   251.233          BLS NaN  NaN  NaN
862  2019.04   251.712          BLS NaN  NaN  NaN
863  2019.12   252.776          BLS NaN  NaN  NaN

[864 rows x 19 columns]>

In [5]:
data_file = pd.ExcelFile('./Fig3-1.xls')  
data2 = pd.read_excel(data_file, header=None)

In [6]:
data2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"U.S. Home Price and Related data, for Figure 3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,See the book for description of data.,NaN,NaN,NaN,"Update Nominal Home Price Index, Click Additio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Monthly data from January 1953 for prices, all...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nominal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Real,NaN,Real,NaN,NaN,NaN,NaN,Home,NaN,NaN,Nominal,NaN,NaN,Consumer,NaN,NaN,NaN,NaN
4,NaN,Home,NaN,Building,U.S.,NaN,NaN,NaN,Price,HPI,NaN,Building,NaN,NaN,Price,CPI Annual&,NaN,NaN,NaN

In [ ]:
'''with pd.ExcelFile('path_to_file.xls') as xls:  
    data['Sheet1'] = pd.read_excel(xls, 'Sheet1', na_values=['NA'])  
    data['Sheet2'] = pd.read_excel(xls, 'Sheet2') '''

In [ ]:
'''with pd.ExcelFile('path_to_file.xls') as xls:  
    data['Sheet1'] = pd.read_excel(xls, 'Sheet1')  
    data['Sheet2'] = pd.read_excel(xls, 'Sheet2')  '''

'''data = pd.read_excel('path_to_file.xls', ['Sheet1', 'Sheet2'])  '''